@charset "utf-8";
*{
	margin:0;
	padding:0;
	font-family:宋体;}
/**********************************头部*/
#head{
	width:1350px;
	height:90px;}
.head1{
	float:left;
	position:relative;
	padding-left:50px;
	padding-top:30px;}
.menu,
.menu ul,
.menu li,
.menu a{
	margin:0;
	padding:0;
	border: none;
	outline: none;}
.menu{
	float:right;
	padding-top:30px;
	padding-right:100px;
	}
.menu li{
	position:relative;
	list-style:none;
	float:left;
	display:block;

	}
.menu li a{
	width:90px;
	display:block;
	line-height:28px;
	text-decoration:none;
	font-size:24px;
	font-family:宋体;
	color:black;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;}
.menu li:hover > a{color:#F4EBEB;}
/*********************************************登陆注册*/
#logins{
	width:1350px;
	height:90px;}
.register{
	border-radius:10px;
	float:left;
	width:121px;
	height:40px;
	margin-left:200px;
	margin-top:30px;
	background:#EF7360;}
.login{
	float:right;
	position:relative;
	padding-right:300px;
	padding-top:15px;}
	
/***********************************************图片1*/
#photos{
	width:1350px;
	height:128px;}
/********************************************热点内容*/
#hot{
	width:1350px;
	height:487px;}
.hot_left{
	float:left;
	position:absolute;
	width:356px;
	height:487px;
	margin-left:200px;}
.hot_be{float:left;
	position:relative;
	margin-left:556px;
	width:332px;
	height:487px;}
.hot_right{
	float:right;
	position:relative;
	margin-right:190px;
	width:272px;
	height:487px;}
/*********************************************东西*/
#dongxi{
	width:1350px;
	height:611px;
	background:#F7F7F7;}
.dongxi_left{
	font-size:20px;
	float:left;
	position:absolute;
	width:127px;
	height:611px;
	margin-left:200px;}
.dongxi_be{float:left;
	position:relative;
	margin-left:327px;
	width:576px;
	height:611px;}
.dongxi_right{
	float:right;
	position:relative;
	margin-right:155px;
	width:290px;
	height:611px;}
.dongxi_right_left{
	font-size:12px;
	color:#6A6A6A;
	float:left;
	position:relative;
	width:191px;;}
.dongxi_right_right{
	float:left;
	position:relative;
	width:99px;}
.dongxi_bottom{
	width:100%;
	height:100px;
	 }
/*********************************************电影*/
#movies{
	width:1350px;
	height:611px;}
.dongxi_be_photo{
	width:576px;
	height:240px;}
.movies_td{
	height:240px;}
/*********************************************读书*/
#read{
	width:1350px;
	height:611px;
	background:#F7F7F7;}
/*********************************************音乐*/
#music{
	width:1350px;
	height:611px;
	}
.music_td{
	width:109px;
	height:167px;}
/*********************************************小组*/
#topic{
	width:1350px;
	height:611px;
	background:#F7F7F7;
	}
.topic_left{
	float:left;
	position:relative;
	width:280px;}
.topic_right{
	float:left;
	position:relative;
	width:280px;}
/*********************************************同城*/
#city{
	width:1350px;
	height:360px;
	}
.city_left{
	font-size:20px;
	float:left;
	position:absolute;
	width:127px;
	height:334px;
	margin-left:200px;}
.city_be{float:left;
	position:relative;
	margin-left:327px;
	width:576px;
	height:334px;}
.city_right{
	float:right;
	position:relative;
	margin-right:155px;
	width:290px;
	height:334px;}

.city_bottom{
	width:100%;
	height:100px;
	 }