@charset "utf-8";
/* CSS Document */
*{ padding:0px;
   margin:0px;}
body{
	 min-width:1350px;width:100%;
	}
ul{
	padding:0;
	margin:15px;
	
	}
ul li{
	list-style:none;
	float:left;
	margin-right:30px;
	font-size:12px;}
ul li a{
	text-decoration:none;
	color:#208ACC;}
#pageLog{
	  background:#F0F3F5;
	  height:40px; width:150px; 
	  position:relative; 
	  float:left; margin-left:200px;
	  margin-top:20px; font-size:30px; 
	 font-weight:900; font-family:Cambria, 'Hoefler      Text', 'Liberation Serif', Times, 'Times New Roman'     , serif; color:#208ACC;
	  }
#pagtop{
       position:relative; 
	   background:#F0F3F5; 
	   width:100%; 
	   height:80px
	   }
#serch_div{
		height:40px; 
		position:relative; 
		float:left;
		margin-top:20px;
		 margin-left:10px ;
		}
#serch_input_txt{
	height:30px;
	width:450px;
	text-indent:10px;
    border-radius:5px 0  0 5px;
	border:none;}
#serch_div2{
	  height:40px; 
	  position:relative; 
	  float:left;margin-top:20px;
	  }
#serch_input_sub{
      height:32px;
	  width:40px;
	  border-radius:0 5px  5px 0; 
	  border:none; 
	  background:url(wj/img/seach.jpg)}
#menu{
	position:relative; background:#F0F3F5; width:100%; height:40px; border-top:solid; border-bottom:solid; border-color:#E3EBEC;
	}
#content{
	margin-left:200px;
	margin-top:50px;
	width:940px; 
	height:800px; 
	position:relative
	}
