@charset "utf-8";
/* CSS Document */
@charset "utf-8";
*{
	font-family:宋体;
	padding:0px;
	margin:0px;
	}
/*菜单栏的css*/
#title{
	padding:0px;
	margin:0px;
	background-color:#545652;
	height:29px;
	min-width:1237px;
	width:100%;}
/*菜单栏内容*/
.menu,
.menu ul,
.menu li,
.menu a{
	margin:0;
	padding:0;
	border: none;
	outline: none;}

.menu li{
	position:relative;
	list-style:none;
	float:left;
	display:block;
	height:29px;
	}
.menu li a{
	width:50px;
	display:block;
	line-height:28px;
	text-decoration:none;
	/*border-left: 1px solid  #000000;
	border-right: 0px solid #000000;*/
	font-size:16px;
	font-family:宋体;
	color:black;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;}
.menu li:hover > a{color:#F4EBEB;}
/*/////////////////////////////////////*/
#city_title{
	width:100%;
	min-width:750px;
	height:72px;
	background:#F6F5F2}
.city_img{
	float:left;
	position:relative;
	margin-left:200px;
	padding-top:15px;}
.amenu{
	width:100px;
	float:left;
	position:relative;}
.seach{
	padding-left:900px;
	padding-top:20px;}


/*下面整体*/
#bottom{
	 align:center;
	 width:950px;
	 top:150px; 
	 left:150px; 
	 position:absolute;
	 height:auto;
	}

/*下面左边*/
#bottom_left{
	float:left; 
	width:590px; 
	height:300px;  
	position:relative;
	}
	
#img_div{
	height:260px; 
	width:175px; 
	float:left; 
	position:relative;
	}
#img_style{
	height:260px; 
	width:175px;
	}
#info_div{
	margin-left:10px;
	height:223px; 
	width:390px; 
	float:left; 
	position:relative;
	}

#info_div span{
	font-size:12px;
	}

#info_desc{
	color:#666666; 
	font-size:12px
	}
	
#info_people{
	margin-top:20px;
	}
	
#info_people span{
	font-size:14px;
	}
	
#action{
	float:left; 
	position:relative; 
	background-color:#FFFFFF;
	}

#action a{
	color:#FF9494;
	}
	
/*下面右边*/
#bottom_right{
	float:right; 
	width:310px; 
	height:auto;
	position:relative;
	}
