@charset "utf-8";
/* CSS Document */
#editGroup_left{
	position:absolute;
	float:left;
	width:600px;
	height:auto;
	left:170px;
}
#title{
	margin-top:40px;
	font-size:26px;
	font-weight:bold;
	font-family:"微软雅黑";
}
#nav{
	width:600px;
	height:30px;
	background-color:#FFF6EE;
	padding-top:5px;
}
#nav a:first-child{
	margin-left:240px;
}
#nav a{
	padding:10px;
	text-decoration:none;
	font-size:13px;
}
#main{
	margin-top:30px;
	padding-left:40px;
}
#field_label{
	font-size:13px;
}
#group_name input{
	margin-left:20px;
	width:350px;
	height:27px;
}
#group_intro,
#group_img{
	margin-top:30px;
}
#group_intro textarea{
	margin-left:20px;
	width:350px;
	height:200px;
	resize:none;
}
#group_img img{
	margin-left:20px;
}
#group_img input{
	margin-top: 0;
	margin-left: 0;
	position: absolute;
	opacity:0;
	filter: alpha(opacity = 0);
}
#img_file{
	width: 50px;
	height: 25px;
	background: white;
	display: inline-block;;
	position: relative;
	padding-bottom: 15px;
	overflow: hidden;
	margin-left: 10px;
	text-decoration: none;
}
#img_file: hover{
	background-color:#3377AA;
}
#img_label{
	margin: 10px 0 0 75px;
	color: grey;
}
#group_tag{
	margin-top:20px;
}
#group_tag input{
	margin-left:15px;
	width:350px;
	height:27px;
}
#group_tag p{
	font-size:12px;
	color:#8C8A8A;
	margin:15px 0 0 73px;
}
#group_nick{
	margin-top:30px;
}
#field{
	font-size:13px;
	float:left;
}
#admin{
	float:left;
	width:200px;
	margin-left:20px;
	font-size:12px;
}
#member{
	float:left;
	width:200px;
	font-size:12px;
}
#admin input,
#member input{
	width:153px;
	height:27px;
}
#admin{
	float:left;
}
#br_null{
	float:none;
	clear:both;
}
#sub_save{
	margin:30px 0 0 70px;
	width:100px;
	height:25px;
	background-color:#379444;
	border:none;
	color:#FFFFFF;
}
#editGroup_right{
	position:absolute;
	width:330px;
	float:left;
	left:820px;
	height:auto;
}
#back_home{
	margin-top:100px;
}
#back_home a{
	text-decoration:none;
}
