@charset "utf-8";
/*菜单栏的css*/
*{
	padding:0;
	margin:0;
	font-family:宋体;
}
#title{	
	padding-top:1px;
	margin:0px;
	background-color:#545652;
	height:24px;
	width:100%;
    min-width:1000px;	
}
/*菜单栏内容*/
#menua{
	height: 22px;
	width: 70%;
	float: left;
}
#menub{
	height: 25px;
	width: 20%;
	float: right;
}
#menua ul li{
	text-align:center;
	margin-left:10px;
    float:left;
	width: 60px;
	list-style-type: none;
	font-size: 12px;
	padding-top: 3px;
}
#menua ul li a{
	text-decoration:none;
	color: #DDDDDD;
}
#menua ul li a:hover{
	text-decoration:none;
	color: #EDF4ED;
}

#menub ul{
	width: 270px;
}
#menub ul li{
	text-align:center;
	margin-left:10px;
    float:left;
	width: 60px;
	list-style-type: none;
	font-size: 13px;
	padding-top: 3px;
}
#menub ul li a{
	text-decoration:none;
	color: #DDDDDD;
}
#menub ul li a:hover{
	text-decoration:none;
	color: #EDF4ED;
}
 
/*douban*/
#douban{
	width:100%;
	min-width:1000px;
	height:80px;
	background-color: #EDF4ED;
}

.douban_menu,
.douban_menu ul,
.douban_menu li,
.douban_menu a{
	margin:0;
	padding:0;
	border: none;
	outline: none;
	text-align: center;
	 
}
.douban_menu{
	padding-top:18px;
	height:30px;
	float:left;
	}
.douban_menu li{
	width:90px;
	list-style:none;
	float:left;
	display:block;
	height:30px;
	}
.douban_menu li a{
	width:60px;
	height:26px;
	display:block;
	line-height:28px;
	text-decoration:none;
	/*border-left: 1px solid  #000000;
	border-right: 0px solid #000000;*/
	font-size:15px;
	font-family:宋体;
	color:black;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
}
.douban_menu li:hover a{
  background-color: #545652;
  color:#EDF4ED;
	}

#all{
	width:100%;
	min-width:1000px;
	height:auto;
	}
.panel-group{
	width:700px;
}
#left{
	margin-top:20px;
	margin-bottom:20px;
	width:70%px;
	height:auto;
	float:left;
	position:relative;
	margin-left:189px;
	}
#right{
	margin-top:50px;
	margin-left: 950px;
	width: 260px;
	height:650px;
	margin-bottom: 30px;
}
.fix_1{
	width:251px;
	height:220px;;
	background:#F2F7F6;
	}
#fix_1_ul li a{
	color: #3377AA;
	}:hover
#fix_1_ul li a:hover{
	background-color: #3377AA;
	color: #FFFFFF;
	}

#myFocus ul li{
   float: left;
   width:50px;
   text-align: center;
   list-style-type: none;
   margin-top: 10px;
   margin-bottom: 10px;
}
#myFocus{
	width:250px;
	height:70px;
}
.conent{
	resize:none;
	word-wrap:break-word;/*使得文字不会从div中溢出*/
}
#preview img{
	width: 80px;
	height: 80px;
	border: 5px;
	border-color:#EEEEEE;
	border-style: solid;
}
#preview3 img{
	width: 220px;
	height: 220px;
}
/* douban_modify.jsp 中使用 */
#preview2 img{
	width: 220px;
	height: 220px;
	border: 1px;
	border-color:#EEEEEE;
	border-style: solid;
}
#search{
	width:300px;
	height:40px; 
	float:left;
    margin-top: 10px;
    margin-left:0px;
}
 #search_input{
    height:40px;
	float: left;
}
#search_btn{
    height:40px;
	float: left;
} 
.item:hover{
	background-color: #3377AA;
	color: #F9F9F9;
}
.item{
	margin-right: 10px;
}
 
 